[submodule "common"]
	path = common
	url = https://github.com/sclorg/container-common-scripts.git
[submodule "examples/container-quickstarts"]
	path = examples/container-quickstarts
	url = https://github.com/redhat-cop/containers-quickstarts.git
